probieren/src/interfaces/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/NewXMLSchema"
	xmlns:tns="http://www.example.org/NewXMLSchema"
	elementFormDefault="qualified">


	<import></import>
	<attribute name="NewAttribute" type="string"></attribute>

	<complexType name="NewComplexType">
		<sequence>
			<element name="NewElement" type="string"></element>
			<element name="NewElement1" type="string"></element>
			<element name="NewElement2" type="anySimpleType"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>
</schema>